@import 'reset.css';
@import 'variables.css';

/* Componens */
@import 'componentes/status-bar.css';
@import 'componentes/nav-bar.css';
@import 'componentes/screen-header.css';
@import 'componentes/user-component.css';
@import 'componentes/badge.css';
@import 'componentes/icon-row.css';
@import 'componentes/alt-header.css';

/* Screens */
@import 'screen/login.css';
@import 'screen/friends.css';
@import 'screen/find.css';
@import 'screen/more.css';
@import 'screen/settings.css';

body {
    color: #2e363e;
    padding-top: 18px;
    padding-bottom: 90px;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}

