#chat-screen {
    background-color: #abc1d1;
    height: 500vh;
}

#chat-screen .status-bar {
    background-color: #abc1d1;
}

.main-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-timestemp {
    margin-top: 70px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 15px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 40%;
    margin-right: 10px;
}

.message-row__auth {
    font-size: 17px;
    opacity: 0.7;
    display: block;
    margin-bottom: 10px;
}

.message-row__info{
    display: flex;
    align-items: flex-end;
}

.message-row__bubble {
    background-color: white;
    padding: 12px;
    border-radius: 13px;
    border-top-left-radius: 0px;
    font-size: 17px;
    margin-right: 7px;
}

.message-row__time {
    opacity: 0.7;
    font-size: 15px;
}

.message-row--own {
    justify-content: flex-end;
}

.message-row--own .message-row__info {
    flex-direction: row-reverse;
}

.message-row--own .message-row__bubble {
    background-color: var(--yellow);
    border-top-left-radius: 13px;
    border-top-right-radius: 0px;
    margin-right: 0px;
    margin-left: 7px;
}

.reply {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 0px;
    background-color: white;
    box-sizing: border-box;
    transition: all 0.8s ease-in-out;
}

.reply__column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.reply__column:first-child {
    width: 10%;
    margin: 0px 5px
}

.reply__column:last-child {
    width: 90%;
    position: relative;
}

.reply__column input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: var(--main-border);
    padding: 0px 10px;
    font-size: 15px;
}

.reply__column>i {
    opacity: 0.5;
}

.reply__column:last-child>i,
.reply__column:last-child button {
    position: absolute;
}

.reply__column:last-child>i {
    right: 55px;
}

.reply__column:last-child>button {
    right: 5px;
    padding: 5px 9px;
    background-color: var(--yellow);
    border-radius: 50%;
    font-size: 20px;
    border: none;
}

.reply__column button:active,
.reply__column button:focus {
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


@keyframes messageBubbleSlideLeftLight {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: none;
    }
}

@keyframes messageBubbleSlideRightLeft{
    from {
        transform: translateX(300px);
    }
    to {
        transform: none;
    }
}

.message-row {
    animation: messageBubbleSlideLeftLight 0.8s linear;
}

.message-row--own {
    animation: messageBubbleSlideRightLeft 0.8s linear;
}

.reply input {
    transition: all 0.8s ease-in-out;
}

.reply:focus-within input {
    transform: translateX(-5%) translateY(-60px);
}

.reply:focus-within {
    transform: translateY(60px);
}