.screen-header {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.screen-header__title {
    font-size: 32px;
    font-weight: 700;
}

.screen-header__icon span{
    margin-left: 25px;
}
